.section1 {
  height: 100vh;
}

/* SLIDER */
.section1 .slick-slider,
.section1 .slick-list,
.section1 .slick-track,
.section1 .slick-slide > div {
  height: 100vh !important;
}

/* SLIDER - DOTS */
.section1 .slick-dots {
  background-color: rgba(50, 50, 50, 0.8);
  bottom: 0;
  height: 72px;
  margin-top: -72px;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
}

.section1 .slick-dots li,
.section1 .slick-dots li button {
  height: 30px;
  width: 30px;
}

.section1 .slick-dots li button:before {
  background-color: #ffffff;
  border-radius: 50%;
  border: 5px solid #313231;
  content: "";
  opacity: 1;
}

.section1 .slick-dots li.slick-active button:before {
  background-color: #4d6128;
  border-color: #ffffff;
}

/* SLIDER - IMAGES */
.section1 .bg-img {
  height: 100%;
  padding: 20px;
  position: relative;
}

.section1 .img1 {
  background-image: url(./../../assets/img/img1.jpg);
  background-position: 43% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SLIDER - TEXT */
.section1 h1 {
  color: #4d6128;
  font-size: 32px;
  font-weight: bold;
  margin: 5px 0px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section1 h1 {
    font-size: 60px;
  }
}

.section1 b {
  color: #213800;
  font-size: 13px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .section1 b {
    font-size: 24px;
    font-weight: 700;
  }
}

/* ARROW */
.section1 .arrowDown,
.section1 .arrowDown img {
  display: inline-block;
}

.section1 .arrowDown {
  margin-top: 20px;
}

.section1 .arrowDown img {
  width: 20px;
}

@media screen and (min-width: 768px) {
    .section1 .arrowDown img {
        width: 30px;
    }
}