.section4 {
  background-color: #bebebe;
  padding: 40px;
}

@media screen and (max-width: 768px) {
  .section4 {
    padding: 20px;
  }
}

/* COLLAPSIBLE */
.section4 .rc-collapse {
  border-radius: 5px;
  border: none;
  margin: 0 auto;
  max-width: 1140px;
  overflow: hidden;
}

/* COLLAPSIBLE - ITEM */
.section4 .rc-collapse-item {
  transition: all linear 0.2s;
}

.section4 .rc-collapse-item:not(.rc-collapse-item-active) {
  background-color: #6f6f6f;
  color: #ffffff;
}

/* COLLAPSIBLE - HEADER */
.section4 .rc-collapse-header {
  font-weight: 900;
  position: relative;
}

@media screen and (min-width: 769px) {
  .section4 .rc-collapse-header {
    font-size: 18px;
    padding: 20px !important;
  }
}

.section4 .rc-collapse-item:not(.rc-collapse-item-active) .rc-collapse-header {
  color: #ffffff;
}

.section4 .rc-collapse-item-active .rc-collapse-header {
  background-color: #ffffff;
}

/* COLLAPSIBLE - ARROW */
.section4 .rc-collapse-header img.arrow {
  border: none !important;
  height: 17px !important;
  margin: 0 !important;
  position: absolute !important;
  right: 15px !important;
  top: 11px !important;
  transition: transform linear 200ms;
  width: auto !important;
}

@media screen and (min-width: 769px) {
  .section4 .rc-collapse-header img.arrow {
    right: 21px !important;
    top: 21px !important;
  }
}

.section4 .rc-collapse-header img.arrow.expanded {
  transform: rotate(180deg);
}

.section4
  .rc-collapse-item:not(.rc-collapse-item-active)
  .rc-collapse-header
  img.arrow {
  filter: invert(100%);
}

/* COLLAPSIBLE - CONTENT */
.section4:not(.enable-backward-compatibility) .rc-collapse-content .content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 769px) {
  .section4:not(.enable-backward-compatibility) .rc-collapse-content .content {
    flex-wrap: nowrap;
  }
}

.section4.enable-backward-compatibility .rc-collapse-content .content {
  display: table;
}

.section4.enable-backward-compatibility .rc-collapse-content .content > * {
  display: table-cell;
}

/* COLLAPSIBLE - CONTENT IMAGE */
.section4 .rc-collapse-content .content .img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid #6f6f6f;
  height: 200px;
  width: 300px;
}

@media screen and (max-width: 768px) {
  .section4 .rc-collapse-content .content .img {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .section4 .rc-collapse-content .content .img {
    min-width: 300px;
  }
}

/* COLLAPSIBLE - CONTENT TEXT */
.section4 .rc-collapse-content .content p {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .section4 .rc-collapse-content .content p {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .section4 .rc-collapse-content .content p {
    padding: 0 20px;
  }
}
